/* =====================================Google Font Eng  ==================================  */

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.rubik {
  font-family: "Rubik";
}
/* =====================================End of Google font  ==================================  */

/* =====================================Google Urdu Font  ==================================  */

@import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap");
.urdu-text {
  font-family: 'Noto Nastaliq Urdu', cursive;
}
/* =====================================End of Urdu Google Font  ==================================  */


/* =========================================== Universal set  ========================================  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik";
  text-decoration: none;
  color: var(--text-color);
  list-style: none;
}
/* =========================================== End of Universal set  ========================================  */

/* =========================================== body color  ========================================  */
body {
  background: var(--bg-color);
}
/* ===========================================End of body color  ========================================  */

/* =====================================Root for color set  ==================================  */
:root {
  --bg-color: #f6f6f6;
  --second--bg-color: rgba(29, 29, 31, 0.97);
  --text-color: #ffff;
  --text2-color: #000000d8;
  --heading-color: #282828cb;
  --shadow-color: #058184;
}
/* =====================================End of Root   ==================================  */


/* ===================================== Header Flex Container ==================================  */

.header{
  /* position: fixed; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--second--bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.449);
  backdrop-filter: blur(10px);
  width: 100%;
  gap: 1rem;
  z-index: 100;
}
/* ===================================== End of Header Flex Container ==================================  */


/* =====================================**********************************************==================================  */
 /* ====================basic setting of layout for left and rigth sec of navbar=====================================*/
.left, .right{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
}
.right{
  font-family: 'Noto Nastaliq Urdu'
}
.speacial-line{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.speacial-line span{
  width: 2rem;
  border-bottom: 2px solid #058184;
}
.left-ul :nth-child(2) .speacial-line span{
  width: 4rem ;
}
.right-ul :nth-child(2) .speacial-line span{
  width: 4rem ;
}
.nav-link.active{
  text-shadow: 0 0 0.8rem var(--text-color);

}
 /* ====================END of basic setting of layout for left and rigth sec of navbar=====================================*/

 /* ==================================================NAV BAR ul left------------------=====================================*/

.left-ul{
  text-align: center;
  line-height: 2rem;
  margin-left: 2rem;
  font-weight: 500;
}

.left-ul li:first-child a{
  color: #DC772B;
}
.left-ul li a:hover{
  box-shadow: 0 0 1rem var(--text2-color);
}
 /* ==================================================END of NAV BAR ul left=================================================*/



 /* ==================================================NAV BAR ul left=================================================*/

.right-ul{
  text-align: center;
  line-height: 2rem;
  margin-right: 2rem;
  font-weight: 500;
}

.right-ul li:first-child a{
  color: #DC772B;
}
.right-ul li a:hover{
  box-shadow: 0 0 1rem var(--text2-color);
}
 /* ==================================================END of NAV BAR ul left=================================================*/


/* navabr logo img */
.logo{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logo img{
  width: 6rem;
}

.logo p{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 4;
  min-width: 6rem;
  font-weight: 100;
 /* max-width: 100%; */
}
/* end of navabr logo img */ 

/* ===================================== 2ND NAV-LINK CONTAINER=============================================== */
.news-links-onTop-container > ul{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
  gap: 0.8rem;
  border-top: .14rem solid var(--text2-color);
  border-bottom: .14rem solid var(--text2-color);
  margin-top: 0.5rem;
  flex-wrap: wrap;
}
.line{
  font-weight: 100;
  color: var(--text2-color);
}
.sec-nav-link{
  color: var(--text2-color);
  font-size: 1.1rem;
  font-weight: 700;
}
/* ==========search logo css =========== */
#search-logo{
  color: var(--text2-color);
  font-weight: 700;
  font-size: 1.2rem;
}
/* ===================================== END OF NAV-LINK CONTAINER=============================================== */
/* ===================================== Main Sec of News Content ================================================ */
.main-news-sec-eng{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;                        
  gap: 0.8rem;
  flex-wrap: wrap;
  background-color: red;
  /* max-width: 15rem;         */
  margin-top: 1rem;
}

/* ///......row1......////// */
/* .........left-side......... */
.main-news-sec-eng-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: .5rem;
  max-width: 15rem;
  background-color: yellow;

}
.main-news-sec-eng-left h2{
  width: 15rem;
  text-align: center;
  padding: .5rem;
color: var(--text2-color);
font-size: 1.5rem;
background-color: var(--text2-color);
color: var(--text-color);
border-radius: 10rem;
}
.news-location{
  color: var(--text2-color);
  font-weight: 700;
}
.main-news-sec-eng-left p{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  color: var(--text2-color);
}
.main-news-sec-eng-left h3 a{
  color: var(--text2-color);
}
.main-news-sec-eng-left p a img{
  width: 100%;
  height: 90%;
}
.news-time{
  color: #058184;
}
.line-bt-location-region{
  color: var(--text2-color);
}
/* .........hover and active sudo......... */
/* left */
.main-news-sec-eng-left h2:hover{
  box-shadow: 0 0 2rem inset #058184;
transition: .5s ease;
}
.main-news-sec-eng-left h2:active{
  box-shadow: 0 0 2rem inset #058184;
  padding: 0.4rem;
transition: .5s ease;
}
.main-news-sec-eng-left h3:hover{
  border-bottom: 1.6px solid #058184;
transition: .3s ease;
}
/* right */
.main-news-sec-eng-left h2:hover{
  box-shadow: 0 0 2rem inset #058184;
transition: .5s ease;
}
.main-news-sec-eng-left h2:active{
  box-shadow: 0 0 2rem inset #058184;
  padding: 0.4rem;
transition: .5s ease;
}
.main-news-sec-eng-left h3:hover{
  border-bottom: 1.6px solid #058184;
transition: .3s ease;
}
/* ===== end of left=== */
/* ===== right=== */
.main-news-sec-eng-right h2:hover{
  box-shadow: 0 0 2rem inset #058184;
transition: .5s ease;
}
.main-news-sec-eng-right h2:active{
  box-shadow: 0 0 2rem inset #058184;
  padding: 0.4rem;
transition: .5s ease;
}
.main-news-sec-eng-right h3:hover{
  border-bottom: 1.6px solid #058184;
transition: .3s ease;
}
/* right */
.main-news-sec-eng-right h2:hover{
  box-shadow: 0 0 2rem inset #058184;
transition: .5s ease;
}
.main-news-sec-eng-right h2:active{
  box-shadow: 0 0 2rem inset #058184;
  padding: 0.4rem;
transition: .5s ease;
}
.main-news-sec-eng-right h3:hover{
  border-bottom: 1.6px solid #058184;
transition: .3s ease;
}
/* ===== end of right=== */
/* .........end of hover and active sudo......... */
/* .........end of left-side......... */
/* ============= row 1 right =============== */
.main-news-sec-eng-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: .5rem;
  max-width: 15rem;
  background-color: yellow;
}
.main-news-sec-eng-right h2{
  width: 15rem;
  text-align: center;
  padding: .5rem;
color: var(--text2-color);
font-size: 1.5rem;
background-color: var(--text2-color);
color: var(--text-color);
border-radius: 10rem;
}
.news-location{
  color: var(--text2-color);
  font-weight: 700;
}
.main-news-sec-eng-right p{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  color: var(--text2-color);
}
.main-news-sec-eng-right h3 a{
  color: var(--text2-color);
}
.main-news-sec-eng-right p img{
  width: 100%;
  height: 90%;
}
.news-time{
  color: #058184;
}
.line-bt-location-region{
  color: var(--text2-color);
}
/* ///......end of row1......////// */
/* center or /iframe  */
.main-news-sec-eng-center{
  display: flex;
  flex-wrap:wrap;

  flex-shrink: 4;
}

/* ===================================== end of Main Sec of News Content ================================================ */


/* =====================================**********************************************==================================  */
/* ===================================== Media Qurey for navbar/header =============================================== */
@media only screen and (max-width: 900px) {

  .header {
    flex-direction: row;
    max-height: 100%;
  }

  .left, .right {
    width: 100%;
  }

  .left-ul, .right-ul {
    margin: 0;
  }

  .logo img {
    width: 5rem; 
  }

  .logo p {
    text-align: center;
    /* max-width: 4rem; */
    flex-shrink: 2;
    font-size: 12px;
  }

  .left-ul li, .right-ul li {
    font-size: 14px;
  }
  .sec-nav-link{
    color: var(--text2-color);
    font-size: 0.9rem;
    font-weight: 700;
  }

}
/* end for 768 px */

/* for max-480px */
  @media only screen and (max-width: 650px) {
    .header {
      flex-direction: row;
      max-height: 100%;
    }

    .left-ul li, .right-ul li {
      font-size: 10px; 
    }
    .logo img {
      width: 3rem;
    }
  
    .logo p {
      text-align: center;
      font-size: 6px;
       
    }
    .news-links-onTop-container > ul{
      display: flex;
      padding: 1.5rem 0;
      gap: 0.7rem;
    }
    .sec-nav-link{
      color: var(--text2-color);
      font-size: 0.5rem;
      font-weight: 500;
    }
  }  
/* end of max-550px */

/* for max-350px */
@media only screen and (max-width: 550px) {
  .header {
    flex-direction: row;
    max-height: 100%;
  }

  .left-ul li, .right-ul li {
    font-size: 8px; 
  }
  .logo img {
    width: 3rem;
  }

  .logo p {
    max-width: 3rem;
    text-align: center;
    font-size: 6px;
     
  }
  .sec-nav-link{
    color: var(--text2-color);
    font-size: 8px;
    font-weight: 500;
  }
}  
/* ========================================== End of Media Qurey for navbar/header =============================== */

/* =====================================Desing By SHAHAB UDDIN GHORI==================================  */


/* =====================================**********************************************==================================  */